/************************** BODY CSS ******************************/
body {
  background-color: black;  
  font-family: 'Russo One';
}
.header-image {
  width: 70%
}
#jumbotron {
  background-color: tomato;
  text-align: center;
  font-family: 'Faster One', cursive;
  font-size: 28px;
}
.jumbosmall {
  background-color: tomato;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
/************************** WORKOUT CSS ********************************/
#workouts {
  background-color: slategrey;
  margin-bottom: 10px;  
}
#workoutHeader {
  text-align: center;
}
#myRoutine {
background-color: black;
color: white;
font-size: 16px;
}
#savedRoutines {
background-color: gold;
color: black;
font-size: 16px;
}
#workoutBtns {
  text-align: center;
}
.btn {
  margin: 5px 25px 5px 25px;
}
#addBtn {
  float: right;
  background-color: black;
  color: white;
}
/************************ NUTRITION CSS *****************************/
#recipeWindow {
  font-size: 18px;
  background: #ee5253;
  color: white ;
  height: 25px;
  width: 100px;
  border-top-left-radius: 25em 4em;
  border-bottom-right-radius: 25em 4em;
}
#nutrition {
  font-family: 'Russo One', sans-serif;
  background-color: #2e86de;
  margin: 5% auto;
  width: 100%;
  text-align: center;
}
#nutritionHeader {
  color: white;
}
#newRecipe {
  width: 60%;
}
.food {
border-radius: 10px ;
background: #ff9f43;
color: white;
padding: 15px 32px;
text-align: center;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
#recipeResults {
  width: 100%
}
#recDiv {
  border-top-left-radius: 25em 4em;
  border-bottom-right-radius: 25em 4em;
  background: #feca57;
  margin: 4% ;
}  
.bookmarkDiv {
  border-top-left-radius: 25em 4em;
  border-bottom-right-radius: 25em 4em;
  margin: 4%;
  background: #feca57;
} 
.title {
  text-align: center;
  font-size: 18px;
  height: 75px;
  color: black;
  margin-bottom: 15px;
  font-family: 'Berkshire Swash', cursive;
}
#recipePic {
  margin-top: 5px;
  height: 175px;
  width: 175px;
  border: #ee5253 2px;
  border-top-left-radius: 25em 4em;
  border-bottom-right-radius: 25em 4em; 
}
/****************************** MAP CSS **************************/
#map {
  top: 200px;
  height: 600px;
}   
html, body {
  height: 800px;;
  margin: 10px;
  padding: 0;
}     
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}    
#infowindow-content .title {
  font-weight: bold;
}    
#infowindow-content {
  display: none;
}    
#map #infowindow-content {
  display: inline;
}    
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}
#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}   
.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}
 .pac-controls label {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 0px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 250px;
  margin-top: 10px;
  height: 29px;
  border: 1px solid #fff;
  border-radius: 4px;
}
#pac-input:focus {
  border-color: #4d90fe;
}   
#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}
/******************** Hover Features ****************8**********/
.btn:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
@-webkit-keyframes shine {
  from {
     -webkit-mask-position: 150%;
 }   
to {
      -webkit-mask-position: -50%;
    }
  }