h5{ 
    /* font-weight: bold; */
    font-size: 20px;
    color: black;
    margin-left: 10px;    
}
img{
    border-style: solid !important;
    border-width: 1px !important;
    border-color: black !important;
    height: 15% !important;
    width: 15% !important;
    margin-bottom: 20px;
    
}
.scrapeWrapper {
    background-color: rgb(255, 255, 255, 0.8);
    /* border:2px solid blue; */
    margin-top: 20px;
    height: 500px;
    overflow: auto;
    margin-bottom: 20px;
    /* border-right: 2px solid blue; */
}
.scrapeContainer{
    margin-top: 40px;
}
