body {
    margin: 0;
}

/* HOME COVER */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    z-index: 0;
    height: 380px;
    width: 100%;
    overflow: hidden;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
    z-index: 0;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
    z-index: 0;
}
.video-container {
    position: relative;
    bottom: -8%;
    left: -8%;
    height: 105%;
    width: 121%;
    overflow: hidden;
    z-index: 0;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: 0;

}
.video-container .filter {
    z-index: 100;
    position: absolute;
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: -44px;
    border: 5px solid black;
}
.video-container video.fillWidth {
    width: 100%;
    z-index: -1;
}

#jumbotron-logo1{
    color: white;
}

#jumbotron-logo2{
    color: white;
}

#jumbotron-logo3{
    color: white;
}