#post {
    background-color: lightgrey;
    height: 400px;
    overflow: auto;
    border: 2px solid;      
    /* color: black;   */
}
#headerPost {
    /* position: fixed;       */
    border: 1px solid;       
}
#allposts {
    background-color: beige;
    width: 106%;
    margin-left: -3%;  
    
}
#titleclass {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: -15px;
}
#linkclass, #descclass{
    color: red;
    margin-bottom: 5px;   
    margin-left: 0px;
}
